<!DOCTYPE html>
<html>
<head>
<title> Game Review Sentiment Analyzer 1.0 </title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<header style = "height: 100px; width: 100%; background-color: #607D8B;" >
<h1 style=" color: #fff; text-align: center; padding-top: 25px; font-size: 30px;" > Game Review Sentiment Analyzer 1.0 </h1>
</header>

<nav style = "background-color: #607d8b9c;" >
<ul>
<li> <a href = {{url_for ("home")}}> Home </a> </li>
<li> <a href = {{url_for("helpme")}}> Help </a> </li>
<li> <a href = "https://github.com/NotMaster10/Game-Review-Sentiment-Analyzer-1.0" target="_blank"> GitHub Repository </a></li>
</ul>
</nav>

<div id="aboutmain">
<div id="leftcolumn"> <b>Sentiment Analysis:</b> A term that refers to the use of natural language processing, text analysis, 
and computational linguistics in order to ascertain the attitude of a speaker or writer toward a specific topic. Basically, 
it helps to determine whether a text is expressing sentiments that are positive, negative, or neutral. Sentiment analysis 
is an excellent way to discover how people, particularly consumers, feel about a particular topic, product, or idea. 
The origin of sentiment analysis can be traced to the 1950s, when sentiment analysis was primarily used on written paper documents. 
Today, however, sentiment analysis is widely used to mine subjective information from content on the Internet, including texts, 
tweets, blogs, social media, news articles, reviews, and comments. This is done using a variety of different techniques, 
including NLP, statistics, and machine learning methods. Organizations then use the information mined to identify new 
opportunities and better target their message toward their target demographics. </div>

<div id="leftcolumn"> <b>Sentiment Scoring:</b> The overall sentiment score we translated into a 1-10 numbered scale modeled after the scoring system used by destructoid.com 
reviewers found here: <a href = "https://www.destructoid.com/the-official-destructoid-review-guide/">https://www.destructoid.com/the-official-destructoid-review-guide/</a>. 
Our translated scale is as follows:
<ul>
	<li>Score				Description</li>
	<li>1 Failure: 			This game was created with no depth and no talent.</li>
	<li>2 Bad: 				Any good this game had is quickly swallowed up by a plethora of issues.</li>
	<li>3 Poor: 			Somewhere this game went wrong. The original idea might have had promise, but in practice it failed.</li>
	<li>4 Below Average: 	This game may have its high points but they soon give way to its glaring faults.</li>
	<li>5 Mediocre: 		This game is an excercise in apathy. Neither hot nor cold. Simply medicore.</li>
	<li>6 It's okay: 		This game is slightly above average, or else just inoffensive.</li>
	<li>7 Good: 			There could be some irritating faults to the game, but overall it's fun to play.</li>
	<li>8 Great: 			Game devs made an impressive effort. The game has few noticable problems. It may not be everyone's cup of tea, but many will enjoy it.</li>
	<li>9 Superb: 			This game is the hallmark of excellence. It might have a few flaws but they are negligable.</li>
	<li>10 Flawless: 		This game is as perfect as you can get in its given genre.</li>
</ul>
</div>

<div id="content"> This project is a web application for e-commerce to assist consumers in learning
more about games and determining whether it is the appropriate fit for them. We use a 
database of sentiment-based keywords along with positivity or negativity weight in database and 
then based on these sentiment keywords mined in  user comment is ranked. We think that 
numerous perspectives are better than one, and that opinions must be scored. 
There are other Sentiment Analysis applications. However what makes this application unique is the integration 
with an original dictionary of weighted words that are used in the gamming environment, adding specific terms to calculate the scoring gives as a 
result a most accurate sentiment analysis. </div>

<div id="rightcolumn"> <img src="..\static\SentimentAnalysis.png" alt="Sentiment Analysis" width="150" height="350" position="center" > </div>
</div>

<summary>
<p>Game Review Sentiment Analyzer is a system that analyzes the sentiment of game review and rates the game based on textual sentiment from the contents of the review. </p>
</summary>

<footer style = " height: 100px; background-color:#607D8B; width: 100%; text-align: center;">
<h3 style = " color: #fff; text-align: center; padding-top: 10px; font-size: 25px; " >ITM 4900 (E90)</h3>
<p> © Copyright (2021) </p>
</footer>
</div>

</body>
</html>
